.search-bar {
  border: none;
  border-radius: 50px;
  border: 1.5px solid rgb(232, 228, 228);
  display: flex;
  align-content: center;
  padding: 5px 0 5px 20px;
}

input {
  width: 30vw;
  border-radius: 60px;
  border: none;
}

input:focus {
  outline: none;
}

button {
  background: none;
  border: none;
}

.material-icons {
  position: relative;
  cursor: pointer;
}


@media (max-width: 576px) {
  .material-icons {
    left: 40%
  }
}