<div class="app">
    <app-side-menu *ngIf="!isMobile; else overlay"></app-side-menu>
    <ng-template #overlay>
        <div></div>
    </ng-template>
    <div>
        <div class="app-header">
            <img src="../assets/youtube-logo.png" class="logo" routerLink="/">
            <app-search-bar (searchUpdated)="handleSearch($event)"></app-search-bar>
        </div>
        <hr class="line">
        <router-outlet></router-outlet>
    </div>
    <mat-toolbar class="bottom-menu" *ngIf="isMobile">
        <button mat-button (click)="openBottomMenu()">
            <span class="material-icons">playlist_play</span>
            Playlists</button>
    </mat-toolbar>
</div>