.sidenav-container {
  width: max-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 10;
}

mat-sidenav {
  width: 20vw;
  z-index: 999;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 1vh 0.3vw 0;
  display: grid;
  justify-items: center;

  .material-icons {
    padding: 10px 10px 0;
    font-size: 2.4rem;
  }

  .icon-title {
    font-size: 0.9vw;
  }
}

.menu-button:hover {
  background: primary;
  border-radius: 20px;
}